.home-main-container {
  background-color: white;
}
.thl,
.about,
.next-up-text,
.next-up-description {
  color: black;
}
.thl {
  letter-spacing: 4px;
  line-height: 30px;
  font-size: 30px;
  margin-top: 20%;
}
.heroimg {
  max-width: 50%;
  opacity: 0.8;
  border-radius: 30%;
}

.line {
  width: 20%;
  height: 1px;
  background-color: rgb(128, 128, 128);
  margin: 10% auto;
}

.next-up-text {
  letter-spacing: 2px;
}

.next-up-img {
  outline: 2px solid black;
  max-width: 70%;
}

.next-up-poster {
  max-width: 20%;
  margin: 2%;
}

.next-up-description {
  font-size: 14px;
  margin: 1% 5%;
  margin-bottom: 10%;
}

.tickets {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 5%;
  background-color: rgb(130, 36, 44);
  text-decoration: none;
  color: white;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 1px solid black;
  filter: drop-shadow(2px 2px 4px black);
  margin: 5%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

h3 {
  color: black;
}

.about {
  margin: 2% 5%;
  line-height: 25px;
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  .hero-container {
    height: max-content;
    padding-top: 18%;
  }
  .thl {
    line-height: 40px;
    margin: 0;
  }
  .heroimg {
    max-width: 30%;
    
  }
  .next-up-img {
    max-width: 30%;
  }

  .next-up-description {
    font-size: 20px;
    margin: 8% 15%;
  }

.video-container {
  position: relative;
  padding-bottom: 45%;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  border: none;
  filter: drop-shadow(1px 1px 5px rgba(255, 21, 21, 0.699));
  margin: 5%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  width: 100%;
  height: 100%;
}
  .coming-soon-title {
    font-size: 60px;
    font-weight: 700;
  }
  .tickets {
      padding: 3%;
  }
  .line {
    margin: 3% auto;
  }

  .about {
    margin: 2% 5%;
    line-height: 30px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {

  .hero-container {
    padding-top: 10%;
  }
}
