.press-main-container {
    margin: 5% auto;
}

.press-heading {
    margin-top: 10%;
}
.article-container {
    display: flex;
    flex-direction: column;
}

.press-desc {
    color: black;
    font-size: 20px;
    margin: 3%;
}

.press-link {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 4%;
    margin: 5%;
}


@media screen and (min-width: 500px) {
    .press-link {
        padding: 1%;
        width: 20%;
        margin: 2% auto;
        background-color: white;
        color: black;
    }
    
    .press-link:hover {
        background-color: black;
        color: white;
    }

    .imagecarousel {
        margin: 5% auto;

    }
    }